::ng-deep .mat-form-field{
    display: block !important;
}
.description-container{
    display: block !important;
    margin: 20px auto !important;
    width: 26% !important;
}

.cancel{
    background-color: white;
    border: none;
    border-radius: 4px;
    color: black;
    height: 30px;
    width: 60px;
}
.save{
    background-color: #38B7F4;
    border: none;
    border-radius: 4px;
    color: black;
    height: 30px;
    width: 60px;
}
.justify-content-end{
    display: flex;
    justify-content: end;
    align-items: end;
}

.ml-20{
 margin-left: 20px
}